body {
    margin: 0;
    height: 100vh;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/back-desktop.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
}
@media (max-width: 768px) {
    body::before {
        background-image: url('../img/back-mobile.png');
    }
}
