.tile-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 100px auto 0;
    grid-template-columns: 1fr 1fr;
}

.tile {
    padding: 30px 20px;
}
.tile-full-width {
    grid-column: 1 / -1;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}

.tile-nohover:hover {
    transform: none;           /* 取消上浮 */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* 恢复默认阴影 */
}

.tile h3 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 22px;
}
.tile p {
    text-align: left;
    margin: 0;
    opacity: 0.8;
    font-size: 18xpx;
    word-break: break-word;
    overflow-wrap: break-word;
}
.tile img {
    border-radius: 50%;
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .tile-container {
        grid-template-columns: 1fr;
    }
    .tile img {
        width: 50%;
    }
}
